.container_1 {
	display: flex;
	background-color: papayawhip;
	justify-content: space-between;
	height: 99%;
	width: 99%;
	position:absolute;
	margin:0;
	padding:0;
}
.container_2 {
	display: flex;
	background-color: #ccc;
	justify-content: left;
	height: 93%;
	width: 25%;
	position:relative;
	margin:2%;
	flex-direction: column;
}
.container_3 {
	display: flex;
	background-color: #D4D3D3;
	justify-content: center;
	height: 93%;
	width: 75%;
	position:relative;
	margin:2%;
}
.item_1 {
	width: 70%;
	margin-right:15%;
	margin-left:15%;
	height: 50px;
	background-color: #115573;
}