@font-face {
   font-family: misha_salma;
   src: url(fonts/misha_salma.ttf);
}
#contenedor{
    background-color:blue;
    border:2px solid #FF0000;
	margin-left:auto;
	margin-right:auto;
	width:80%;
	margin-top:0;
	padding:0;
}
#cabecera{
        background-color:grey;
        height:10%;
		margin-top:0;
		padding:0;
		
}
#izquierda{
        height:70%;
        background-color:#BDD2EF;
        float:left;
        width:20%;
}
#derecha{
        height:70%;
        background-color:#DAF7E2;
        float:right;
        width:80%;
}
#pie{
        height:20%;
        background-color:#D3D1C1;
        clear:both;
}
.titulo{
	font-family: misha_salma;
	font-size:50px;
	font-weight: bold;
}

